html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

#root {
	height: 100%;
	width: 100%;
}

.content-container {
	height: 100%;
	width: 100%;
}

.wrapper {
	height: 100%;
	color: white;
	font-family: "JetBrains Mono", monospace;
}

.home-hero-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-hero-name-label {
	margin: 0 auto;
	position: fixed;
	font-size: 64px;
}
