html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

#root {
	height: 100%;
	width: 100%;
}

#content-container {
	z-index: 100;
	position: absolute;
	pointer-events: none;
	display: block;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	color: white;
	font-family: "JetBrains Mono", monospace;
}

.home-hero-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.home-hero-name-label {
	margin: 0 auto;
}
